/* tablets  */
@media only screen and (max-width: 900px) {
  .buttonsBox {
    display: flex;
    column-count: 2;
    column-gap: 10px;
    column-width: 100px;
    width: 100vh;
    padding: 20px 0px;
    /* border: 5px solid #000000; */
  }
}

/* phones  */
@media only screen and (max-width: 499px) {
  .top {
    background-size: 100%;
  }

  .buttonsBox {
    display: flex;
    column-count: 2;
    column-gap: 10px;
    column-width: 100px;
    width: 100%;
    padding: 10px 10px 20px 10px;
    /* border: 5px solid #000000; */
  }

  .card {
    width: 100%;
  }

  .message {
    font-size: 16px;
  }
}

@media only screen and (max-width: 399px) {
  .top {
    background-size: 100%;
  }
  .message {
    padding: 0px 3em 0px 3em;
  }
}

@media only screen and (max-width: 299px) {
  .top {
    background-size: 100%;
  }
  .message {
    padding: 0px 10px 0px 10px;
  }
}
